/* GLOBAL VARIABLES */
/* PREFIX YOUR CLASSES AND ID WITH YOUR COMPONENT ABBR. */
/* EX: RR-review-ctn */
/* Don't define your own colors, use the variables */
/* styling should be okay with your own preferences as long as it's within your own container */

/* Global variables */

:root {
  /* use mostly white and grey and some of the colors below */
  --light: #cad2c5;
  --light-green: #84a98c;
  --mid-green: #52796f;
  --dark-green: #354f52;
  --black-green: #2f3e46;
}

/* GLOBAL STYLES */
body {
  background-color: white
}

div {
  color: grey;
  background-color: white;
}

input {
  /* styling button colors */
  accent-color: #333;
  background-color: var(--light);
}


/* OVERVIEW */

#OVcontainer {
  display: flex;
  justify-content: center;
  height: 1000px;
}

#Overview {
  height: 100%;
  width: 1000px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-row-gap: 10px;
}

#OVImageNInfo {
  height: 100%;
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 10px;
}

#OVInfo {
  height: 100%;
}

#OVStyleBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}

.OVstyles {
  border-radius: 50%;
  background-color: white;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

#OVsizeNQty {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
  height: 40px;
}

.OVselect {
  height: 100%;
  width: 100%;
  font-size: larger;
}

#OVAddToBag {
  padding: 10px;
  width: 300px;
  margin: 10px 0px;
}

#OVimage {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

#OVimageDisplayBox {
  /* display:flex;
  justify-content: center;
  align-content: center; */
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
}

#OVimagedisplay {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#OVThumbnailSelection {
  display: flex;
}

#OVthumdnailBox {
  width:16.50%;
  max-height: 100%;
}

.OVthumbnail {
  max-width: 100%;
  max-height: 100%;
}

#OVdesc {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 5px;
}

.OVleftArrow {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.OVrightArrow {
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}



/* RELATED PRODUCTS */

/* .RC_card_container {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  border: black;
}

.RC_card {
  background-color: white;
  border: black;
  border-width: 1px;
  overflow: hidden;
  max-width: 150px;
  margin: 2px;
  float: left;
}

.RC_card_photo {
  top: 2;
  right: 2;
}

.fa-solid {
  top: 2;
  right: 2;
}

.RC_card_category {
  text-align: left;
  padding: 3px;
  padding-bottom: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
} */

.RC_outfit_card_container {
  list-style-type: none;
}

.RC_list_item {
  list-style-type: none;
}

.RC_outfit_card_container {
  box-sizing: border-box;
  flex-direction: row;
  width: 25%;
  background-color: white;
  display: flexbox;
  box-shadow: 0 2px 3px 0 rgba(99, 29, 29, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.RC_modal_content {
  background-color: white;
  position: fixed;
  width: 60%;
  top: calc(25% - 50px);
  left: calc(25% - 50px);
  padding: 20px;
  border-radius: 5px;
  display: flexbox;
  box-shadow: 0 4px 8px 0 rgba(99, 29, 29, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.RC_modal_table {
  border: 1px solid #333;
}

.RC_modal_th {
  text-align: center;
  border: 1px solid #333;
}

.RC_modal_td {
  border: 1px solid #333;
}

.RC_close {
  color: Black;
  float: right;
}

.RC_close:hover {
  color: rgb(255, 132, 132);
  cursor: pointer;
}

/* QUESTIONS AND ANSWERS */

.qa-question-modal {
  position: fixed;
  left: 25vw;
  top: 25vh;
  background: white;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.qa-question-modal form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qa-question-modal div {
  background-color: white;
}

/* -----------------RATINGS AND REVIEWS -----------------*/
/* Ratings breakdown */
#RR-rating-breakdown-ctn {
  width: 300px;
}

#RR-rating-summary-ctn {
  display: flex;
}
#RR-avg-rating {
  font-size: 40px;
}

#RR-star-views-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.RR-reviews-by-star-ctn {
  display: flex;
  margin: 4px;
}

.RR-bar-graph {
  background-color: var(--light);
  margin: 0 4px;
  width: 100px;
  height: 14px;
  display: flex;
}

.RR-top-bar {
  background-color: var(--mid-green);
  /* width: 50px; */
}

.RR-star-counts {
  display: flex;
  justify-content: center;
  width: 40px;
}

/* Prod characteristics breakdown */
.RR-prod-char-breakdown-ctn {
  /* display: flex; */
}

.RR-prod-char-bar {
  display: flex;
  background-color: var(--light);
  height: 12px;
  width: 80%;
  margin: 0 10%;
}

.RR-prod-char-marker {
  /* make this a percentage,offset by -5% */
  background-color: transparent;
  transform: rotate(180deg);
  color: var(--dark-green);
}

.RR-prod-char-titles {
  display: flex;
  justify-content: space-between;
}

/* Reviews list */
#RR-ratings-reviews-ctn {
  display: flex;
  /* temp */
  border-style: solid;
}

#RR-breakdown-ctn {
  padding-left: 20px;
}

#RR-header-sort {
  padding-left: 20px;
}
#RR-reviews-ctn {
  padding: 0 20px;
}
.review-header {
  display: flex;
  justify-content: space-between;
}

#more-menu {
  display: flex;
  margin: 20px;
}

#more-menu button {
  height: 40px;
  border-radius: 2px 2px;
  margin-right: 20px;
}

.RR-review-photos {
  width: 100px;
  height: auto;
}


/* RR - Add a review form */
#RR-form-ctn {
  display: flex;
  justify-content: center;
}

#RR-form-bg {
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: black;
  opacity: 0.9;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
#RR-form {
  position: fixed;
  z-index: 3;
  top: 200px;
  background: white;
  opacity: 1;
  height: 60%;
  width: auto;
  border-radius: 5px 5px;
  overflow: scroll;
}

/* crop photo uploads into same size thumbnails */
#RR-overall-rating {
  width: 700px;
}
#RR-overall-rating input {
  width: 0;
}

#RR-overall-rating img {
  height: 20px;
  width: 20px;
}

#RR-rate-star {
  display: flex;
}

/* RR - Product Characteristics Breakdown */

#RR-summary {
  width: 365px;
  text-align: left;
}
.RR-prod-char-rating {
  display: flex;
  width: 700px;
  border: 1px solid grey;
}

.RR-prod-char-title {
  width: 100px;
  align-self: flex-end;
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
}


.RR-rating-ctn {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.RR-rating-scores {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 120px;
}

.RR-rating-scores p {
  height: 36px;
}
.RR-rating-scores input {
  height: 18px;
  background-color: #333;
}

.RR-rating-scores label {
  margin: 2px 0;
}

/* Uploaded photos */

.RR-uploaded-photos {
  max-width: 100px;
  max-height: 100px;
}