/* GLOBAL VARIABLES */
/* PREFIX YOUR CLASSES AND ID WITH YOUR COMPONENT ABBR. */
/* EX: RR-review-ctn */
/* Don't define your own colors, use the variables */
/* styling should be okay with your own preferences as long as it's within your own container */

/* Global variables */

:root {
  /* use mostly white and grey and some of the colors below */
  --light: #cad2c5;
  --light-green: #84a98c;
  --mid-green: #52796f;
  --dark-green: #354f52;
  --black-green: #2f3e46;
  --white: #ffffff;
  --white-grey: #edf1f7;
  --grey: #808080;
  --dark-grey: #333;
  --black: #000000;


  /* colors of stars */
  --star-color: var(--dark-green);
  --star-background: var(--light);

  /* global dimensions */
  --max-width: 1200px;
}

.Stars {
  /* --percent is passed down from JS variables */
  display: inline-block;
  font-size: 20px;
  font-family: Times;
  line-height: 1;
  background: linear-gradient(90deg, var(--star-color) var(--percent), var(--star-background) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* GLOBAL STYLES */
body {
  background-color: var(--white);
}

div {
  color: #808080;
}

input{
  accent-color: var(--dark-green);
  height: 18px;
}

p {
  overflow-wrap: break-word;
}

.hide {
  display: none !important;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

/* OVERVIEW */


#OVModalOverLay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
  transition: opacity 2s, visibility 2s;
}

#OVModal {
  height: 80%;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  transition: opacity 2s, visibility 2s;
}

#OVExpandThumbNails{
  position: fixed;
  bottom : 2%;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 45px;
  z-index: 1000;
  cursor: pointer;
}

#OVcontainer {
  display: flex;
  justify-content: center;
  height: 1000px;
  width: 100%;
}

#Overview {
  height: 1000;
  width: var(--max-width);
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-row-gap: 10px;
}

#OVImageNInfo {
  height: 800px;
  height: 100%;
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 10px;
}

#OVImages {
  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: center;
  justify-items: center;
}

#OVInfo {
  height: 100%;
}

#OVStyleBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding: 10px;
}

#OVStyleContainer {
  position: relative;
}

.OVstyles {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 3px solid var(--light-green);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform .2s;
}

.OVstyles:Hover {
  transform: scale(1.1);
}

#OVCheckMark {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 20px;
  width: 20px;
  color:#354f52;
  z-index: 1;
  border-radius: 50%;
  background-color: white;
  /* border: 2px solid #354f52; */

}

#OVsizeNQty {
  display:grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 5px;
  height: 40px;
}

.OVselect {
  height: 100%;
  width: 100%;
  font-size: larger;
  background-color: var(--white);
  color: var(--black);
}

#OVAddToBag {
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
}

#OVimageDisplayBox {
  width: 100%;
  height: 99%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--mid-green);
}

#OVimagedisplay {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.OVImageExpand {
  position: absolute;
  top: 5%;
  transform: translate(50%, -50%);
  right: 5%;
  font-size: 20px;
  color: #fff;
  z-index: 2;
  cursor: pointer;
  transition: transform .3s;
}

.OVImageExpand:Hover {
  color: #fff;
  transform: scale(3) translate( 10%, 0%);
}

#OVImageSelector {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#OVThumbnailContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

#OVThumbnailDisplayBox{
  height: 100%;
  width: 625px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 10px;
}

#OVThumbnailSwiper {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  overflow: hidden;
  height: 100%;
  align-items: center;
  padding: 0px 20px ;
}

.OVthumbnailImage {
  border-radius: 10%;
  width: 100px;
  height: 100px;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: transform .2s, left 1s ease-out;
  left: 0;
  position: relative;
}

.OVthumbnailImage:Hover {
  transform: scale(1.2);
}

.OVThumbnailArrows {
  height: 100%;
  width: 50px;
  transition: transform .2s;
  color: var(--black-green);
}

.OVThumbnailArrows:Hover {
  transform: scale(1.2);
}

.OVThumbnailCircle {
  border-radius: 50%;
  background-color: var(--light);
  height: 30px;
  width: 30px;
  border: 3px solid var(--black-green);
  transition: transform .2s;
}

.OVThumbnailCircle:Hover {
  transform: scale(1.2);
}


#OVdesc {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 5px;
}

.OVleftArrow {
  height: 100%;
  width: 100px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, .5);
  z-index: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s ease-in;
  font-size: 70px;
  display:flex;
}

.OVleftArrow:Hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
}

.OVrightArrow {
  height: 100%;
  width: 100px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, .5);
  z-index: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color .2s ease-in;
  font-size: 70px;
  display:flex;
}

.OVrightArrow:Hover {
  color: #fff;
  background-color: rgba(0, 0, 0, .4);
}


/* RELATED PRODUCTS */

/* Related List Cards */

.RC_related_list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 800;
}


.RC_related_card_container {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  margin-left: 5px;
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(99, 29, 29, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.RC_related_text_container {
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 175px;
  left:0px;
  width: 160px;
  height: 60px;
  padding-left: 4px;
  padding-top: 3px;
}

.RC_card_photo {
  position: absolute;
  top:0px;
  right:0px;
  height: 240px;
}

.compare_star {
  position: absolute;
  top: 4px;
  right: 4px;
  color: var(--light);
}

.compare_star:hover {
  color: var(--light-green);
  cursor: pointer;
}

.RC_product_name {
  cursor: pointer;
}

.RC_product_name:hover {
  color: var(--black);
}

.RC_text {
  text-align: left;
  margin: 0;
  padding: 0;
}

.Rc_product_price {
  padding: 0;
  margin: 0;
}

.RC_star_rating {
  background-color: white;
  position: absolute;
  padding-left: 2px;
  bottom: 0;
  width: 160px;
  left:0;
}

/* ** Outfit ** */

.RC_outfit_container{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1000;
}

.RC_outfit_list {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 800;
}


.RC_outfit_card_container {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  width: 150px;
  height: 250px;
  margin-top: 20px;
  margin-left: 5px;
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(99, 29, 29, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--light-green);
}

.RC_add_to_outfit {
  background-color: var(--light-green);
  padding-top: 60px;
  padding-left: 22px;
  width: 150px;
  height: 250px;
  color: var(--white);
}

.RC_next {
  background-color: var(--grey);
  color: var(--white);
  box-shadow: 0 2px 3px 0 rgba(99, 29, 29, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border: none;
  height: 100px;
  border-radius: 10px;
  align-self: flex-end;
  margin-bottom: 75px;
  margin-left: 15px;
}

.RC_next:hover {
  background-color: var(--mid-green);

}

.RC_prev {
  background-color: gray;
  color:var(--white);
  box-shadow: 0 2px 3px 0 rgba(99, 29, 29, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  border: none;
  height: 100px;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 95px;
  margin-right: 15px;
}

.RC_prev:hover {
  background-color: var(--mid-green);

}

.plus {
  color: white;
  position: absolute;
  top: 110px;
  right: 70px;
}

.RC_add_to_outfit:hover {
  cursor: pointer;
}

.RC_outfit_photo {
  position: absolute;
  top:0px;
  right:0px;
  height: 240px;
}

.RC_x {
  position: absolute;
  top: 4px;
  right: 4px;
  color: var(--light);
}

.RC_x:hover {
  color: var(--light-green);
  cursor: pointer;
}

.RC_outfit_text_container {
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 175px;
  left:0px;
  width: 160px;
  height: 60px;
  padding-left: 4px;
  padding-top: 3px;
}


/* Related List Modal */

.RC_modal_content {
  background-color: white;
  position: fixed;
  width: 60%;
  top: calc(25% - 50px);
  left: calc(25% - 50px);
  padding: 20px;
  border-radius: 5px;
  display: flexbox;
  box-shadow: 0 4px 8px 0 rgba(99, 29, 29, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 9999;
}

.RC_modal_table {
  border: 1px solid var(--dark-grey);
}

.RC_modal_th {
  text-align: center;
  border: 1px solid var(--dark-grey);
}

.RC_modal_td {
  border: 1px solid var(--dark-grey);
}

.RC_close {
  color: var(--black);
  float: right;
}

.RC_close:hover {
  color: var(--light-green);
  cursor: pointer;
}

/* QUESTIONS AND ANSWERS */
.qa-qa-master {
  display: flex;
  justify-content: center;
}

/* SEARCH BAR */
#qa-search-input {
  border: 1px solid var(--grey);
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding: 5px 20px 5px 20px;
  outline: 0;
  margin-bottom: 15px;
  font-size: 15px;
  box-sizing: border-box;
  /* background: transparent; */
}

#qa-search-input::placeholder {
  font-weight: bold;
  font-size: large;
}

.qa-question-container {
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background-color: whitesmoke;
}

.qa-question-body {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 18px auto;
}

#qa-space-body {
  word-break: break-all;
}

.qa-question-modal {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  left: 25vw;
  top: 25vh;
  margin: 25vh 25vw;
  background: var(--light);
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.qa-question-modal form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qa-question-modal div {
  background-color: var(--light);
}

.qa-modal-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
}

.qa-question-list {
  max-height: 1500px;
  max-width: var(--max-width);
  overflow-y: scroll;
}

#qa-question-helpful {
  /* float: right; */
  text-align: center;
  font-size: 12px;
}

#qa-answer-count {
  margin-left: 5px;
}

#qa-answer-line {
  text-decoration: underline;
}

.qa-report {
  text-decoration: underline;
  cursor: pointer;
}

.qa-report:hover {
  color: var(--black);
}

.qa-yes {
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.qa-yes:hover {
  color: var(--black);
}

.qa-question-modal input {
  margin: 5px 0;
  width: 60%;
}

.qa-line {
  margin: 0 10px;
}

.qa-answer-container {
  max-height: 500px;
  max-width: var(--max-width);
  overflow-y: scroll;
  margin-bottom: 20px;
}

#qa-img-container {
  display: flex;
  margin-left: 25px;
}

/* .qa-img-modal {
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 300px;
  padding-left: 700px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.10);
} */

/* .qa-img-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
} */

.qa-answer-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 10px 5px 0;
  width: 120px;
  height: 120px;
  border: .5px solid var(--black);
}

.qa-load-answers {
  margin-left: 25px;
  cursor: pointer;
}

.qa-load-answers:hover {
  color: var(--black);

}

.qa-input-text {
  margin: 1px 0;
}

.qa-answer-modal {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  left: 25vw;
  top: 25vh;
  background: var(--light);
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}

.qa-answer-modal form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.qa-answer-modal div {
  background-color: var(--light);
}

.qa-answer-modal input {
  margin: 5px 0;
  width: 60%;
}

.qa-X {
  margin: 0;
  cursor: pointer;
}
.qa-X:hover {
  color: var(--black);
}

.qa-modal-submit {
  margin: 0 auto;
  width: 15%;
}

#qa-Q {
  display: inline-flex;
  padding-right: 3px;
}

#qa-A {
  display: inline-flex;
  padding-right: 5px;
}

.qa-answer-body {
  justify-content: space-between;
  font-size: 15px;
  margin-right: 5px;
  padding-left: 0px;
}

#qa-body {
  margin-left: 25px;
}

.qa-pointer {
  cursor: pointer;
}

.qa-pointer:hover {
  color: var(--black);
}

#qa-answer-name {
  margin: 10px 0 0 25px;
}

.qa-button-container {
  display: flex;
  flex-direction: row;
}

.qa-question-button {
  font-size: 15px;
  padding: 10px;
  margin: 10px 15px 0 0;
  border-radius: 3px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.qa-question-button:hover {
  background-color: var(--light);
  color: white;
}

.qa-img-preview {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.qa-modal-img-container {
  margin: 10px 0;
}

/* RATINGS AND REVIEWS */

/* -----------------RATINGS AND REVIEWS -----------------*/
#RR-big-ctn {
  display: flex;
  justify-content: center;
}

#RR-first-review {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}

#RR-ratings-reviews-ctn {
  display: flex;
  max-width: var(--max-width);
  width: 100%;
}

/* Ratings breakdown */
#RR-rating-breakdown-ctn {
  width: 30%;
}

#RR-rating-summary-ctn {
  display: flex;
  justify-content: center;
  height: 80px;
}

#RR-avg-rating {
  font-size: 50px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#RR-avg-rating p {
  margin-block-start: 30px;
  margin-block-end: 0;
}

#RR-star-views-ctn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.RR-reviews-by-star-ctn {
  display: flex;
  justify-content: center;
  margin: 4px 0;
}

.RR-bar-graph {
  background-color: var(--light);
  margin: 0 4px;
  width: 100px;
  height: 14px;
  display: flex;
}

.RR-top-bar {
  background-color: var(--mid-green);
  /* width: 50px; */
}

.RR-star-counts {
  display: flex;
  justify-content: center;
  width: 40px;
}

#RR-factors-breakdown-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Prod characteristics breakdown */
.RR-prod-char-breakdown-ctn {
  width: 200px;
  margin: 8px 0;
}

.RR-prod-char-titles {
  font-weight: bold;
}

.RR-prod-char-bar {
  display: flex;
  background-color: var(--light);
  height: 12px;
  width: 80%;
  margin: 5px 10%;
}

.RR-prod-char-marker {
  background-color: transparent;
  transform: rotate(180deg);
  color: var(--dark-green);
}

.RR-prod-char-descriptions {
  display: flex;
  justify-content: space-between;
}

/* Reviews list */

#RR-breakdown-ctn {
  padding-left: 20px;
}

#RR-sort-param {
  margin-left: 6px;
  background-color: var(--light);
  height: 24px;
  border-radius: 4px;
  border: 0;
  text-align: center;
  font-size: 16px;
}

#RR-reviews-right-ctn {
  width: 70%;
}
#RR-reviews-ctn {
  width: auto;
  overflow-y: scroll;
  max-height: 600px;
}

.RR-review-ctn {
  width: auto;
  background-color: hsl(0, 0%, 95%);
  color:  hsl(0, 0%, 40%);
  margin-bottom: 6px;
  border-radius: 4px;
  padding: 10px;
}

.RR-review-body {
  width: 100%;
}

.RR-review-header {
  display: flex;
  justify-content: space-between;
}

.RR-seller-response {
  background-color: var(--light);
  width: fit-content;
  padding: 6px;
  border-radius: 2px;
}

#RR-more-menu {
  display: flex;
  margin: 20px 20px 20px 0;
}

#RR-big-ctn button {
  height: 40px;
  border-radius: 2px 2px;
  margin-right: 20px;
  border: 2px solid hsl(0, 0%, 70%);
}

#RR-big-ctn button:hover {
  box-shadow: 0 0 4px var(--black-green);
}

#RR-photos-ctn {
  display: flex;
}

.RR-review-photos {
  width: auto;
  height: 100px;
  display: flex;
}

/* #RR-photo-modal .background,
#RR-photo-modal {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#RR-photo-modal .background {
  background-color: black;
  opacity: 0.9;

}

#RR-photo-modal-inner {
  opacity: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}

#RR-photo-modal-inner .icons {
  font-size: 40px;
  z-index: 4;
  position: absolute;
  right: 0;
  top: 0;
}

#RR-photo-modal img {
  width: auto;
  height: auto;
} */

#RR-photo-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

#RR-photo-modal .background {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: fixed;
}

#RR-photo-modal-inner {
  width: 60%;
  height: 60%;
  margin: 10% 20%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
#RR-photo-modal-inner img {
  z-index: 3;
  max-width: 100%;
  max-height: 100%;
}

#RR-photo-modal-inner .icons {
  position: fixed;
  top: 10%;
  right: 10%;
  font-size: 40px;
  z-index: 3;
}

/* RR - Add a review form */
#RR-form-ctn {
  display: flex;
  justify-content: center;
  width: 100%;
}

#RR-form-bg {
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: var(--black-green);
  background-image: url('./assets/senegal-leather-bg.jpg');background-size: 2000px 2000px;
  opacity: .95;
  display: flex;
  justify-content: center;
}

#RR-form-bg.active {
  height: 100%;
  width: 100%;
}

#RR-form-inner-ctn {
  position: fixed;
  z-index: 3;
  top: 20%;
  display: flex;
  width: auto;
  height: 550px;
  background: transparent;

}

#RR-form-menu{
  width: 240px;
  padding-top: 260px;
  padding-right: 20px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-image: url('./assets/pencileandletter.jpg');
  background-size: 700px 600px;
  background-position: 48% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

#RR-form-menu button,
#RR-form-menu input,
.RR-form-fields button {
  border: 0;
  margin: 10px 0;
  height: 30px;
  width: 60px;
  color: var(--black-green);
  background-color: var(--light);
  border-radius: 4px;
  opacity: .6;
  font-weight: bold;
}

.RR-form-fields button {
  width: 120px;
}

#RR-form-menu span {
  font-size: 20px;
  margin: 10px 0;
}
#RR-form-menu .active,
.RR-form-fields .active {
  color: var(--light) !important;
  background-color: var(--black-green) !important;
}

#RR-form-inner-ctn form {
  /* maybe use part of image as background for texture */
  overflow-y: scroll;
  background: var(--white-grey);
  padding-left: 20px;
  background-image: url('./assets/canvasbg.png');
  background-size: 350px 350px;
}

#RR-form-inner-ctn div {
  background-color: transparent;
}

.RR-form-fields {
 margin: 20px 0;
}

#RR-overall-rating {
  display: flex;
  height: 40px;
  align-items: flex-end;
}

#RR-overall-rating div {
  margin-right: 6px;
}

.RR-rate-star span{
  padding-bottom: 5px;
}

#RR-overall-rating input {
  width: 0;
}

#RR-rate-star {
  display: flex;
}

#RR-form-recommend {
  display: flex;
}

.RR-form-user-info input {
  width: 200px;
}

/* RR - Product Characteristics Breakdown */

#RR-summary {
  width: 365px;
  text-align: left;
}

#RR-form-inner-ctn .RR-prod-char-rating {
  display: flex;
  width: 700px;
  border: 1px solid var(--grey);
  background-color: var(--light);
  border-radius:  20px;
  margin: 2px;
  border: 0;
}

.RR-prod-char-title {
  width: 100px;
  align-self: center;
  font-weight: bold;
  text-align: center;
}


.RR-rating-ctn {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.RR-rating-scores {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100px;
}

.RR-rating-scores div {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.RR-rating-scores label {
  margin: 2px 0;
}

#RR-photo-uploads {
  display: flex;
}
#RR-photo-uploads img {
  margin: 0 2px;
}

.RR-disclaimer {
  font-size: 12px;
}

.RR-form-fields.textbox :focus {
  outline: none !important;
  border-color: var(--mid-green);
  box-shadow: 0 0 10px var(--black-green);
}
